---
import CopyCommand from '../components/CopyCommand.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Landing Page" lang='en'>
	<main>
		<CopyCommand command='npm install ' />
	</main>
</Layout>