---
interface Props {
	title: string;
	lang: string;
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="./layout.module.css">
		<title>{title}</title>
	</head>
	<body>
		<div>
			<div>
				<slot />
			</div>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		color:azure;
	}
	html {
    background-color: hsla(224, 70%, 17%, 1);
    background-image: radial-gradient(circle at 91% 91%, hsla(276, 72%, 4%, 0.46) 10%, transparent 57%), radial-gradient(circle at 90% 84%, hsla(197, 57%, 0%, 1) 17%, transparent 81%), radial-gradient(circle at 63% 76%, hsla(274, 90%, 2%, 1) 4%, transparent 63%), radial-gradient(circle at 64% 25%, hsla(271.9148936170212, 99%, 53%, 1) 10%, transparent 66%), radial-gradient(circle at 82% 4%, hsla(269, 82%, 4%, 1) 12%, transparent 73%), radial-gradient(circle at 75% 55%, hsla(222.00000000000006, 96%, 48%, 1) 13%, transparent 84%), radial-gradient(circle at 50% 4%, hsla(166.53061224489795, 72%, 60%, 1) 17%, transparent 60%), radial-gradient(circle at 13% 9%, hsla(276, 74%, 4%, 1) 10%, transparent 57%);
    background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal;
}	body {
		@apply h-screen w-full;
	}
	body > div {
		@apply grid place-content-center p-20;
	}
	body > div > div {
		@apply container;
	}
</style>